a:hover{
    background-color: transparent;
}

a:visited {
    color:inherit;
}

.navbar-brand{
    font-size: 28px;
    margin: 0;
    padding: 0;
    
}

.portfolio-item{
    padding-bottom: 20px;
}

.portfolio-item a{
    color: #00BC8C;
}

.footer{
    position: absolute;
    bottom: 0;
}

#rating p{
    display: inline-block;
    vertical-align: top;
}

#genre p{
    display: inline-block;
    vertical-align: top;
}

.delete-link{
    color: red;
    float: right;
}

#modify a{
    color: red;
}

/*show styles*/
.card-body p{
    font-size: 18px;
}